

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Lato-Regular;
  src: url('fonts/apache/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('fonts/apache/Lato/Lato-Bold.ttf');

}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}



.table100-head th {
  padding-top: 10px;
  padding-bottom: 5px;
}

.table100-body td {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 40px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  height: 280px;
  max-height: 2800px;
  overflow: auto;

}



/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-family: Lato-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
   background-color:#3F729B;
/*  background-color: #428bca;*/

}

.table100.ver1 td {
  font-family: Lato-Bold;
  font-size: 13px;
  line-height: 1.4;
}


.table100.ver1 .table100-body tr:nth-child(odd) {
  background-color: #fafafa;
}
.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #D0E4F5;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

.table100-body td {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: #3F729B;
}

.table101-body tbody tr:first-child td {
     background-color: #f5f5f5;
   }
.table101-body td {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;

}
.table101-body tbody tr{
  border-top: 0px solid;
  border-color: #f5f5f5;
}
.tr_bb{
  border-color:#f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}
.table101.ver1 {
  font-family: Lato-Regular;
  font-size: 12px;
  color: #808080;
  line-height: 1.4;
  border-right: 2px solid;

}
.table101.ver1.rightt  td{
  font-family: Lato-Regular;
  font-size: 12px;
  color:#000;
}
.rightt td{
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 2px solid;
  color: #3F729B;
  border-color: #f5f5f5;
}
.leftt {
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 2px solid;
  border-color: #f5f5f5;
}
.text-green{
  color:#43a047;
}
.text-bluegrey{
  color:#607d8b;
}
.textlogin{
  color: #FF8800;

}
